<div class="container">
  <h1><%= @profile.slug %><%= @profile.username %></h1>
  <p>Name: <%= @profile.user.first_name %><br>
  Last name:<%= @profile.user.last_name %><br>
  Email:<%= @profile.user.email %></p>
</div>