<div class="container">
  <h1>Your bookings</h1>
    <% @bookings.each do |booking| %>
      <div class="card-trip col-xs-12 col-md-6">
        <%if !booking.boat.photos.empty? %>
          <%= cl_image_tag booking.boat.photos&.first.photo_url.url(:index) %>
        <% else %>
          <%= cl_image_tag "https://caribbeanseaadventures.com/wp-content/uploads/2016/03/073A8061.jpg" %>
        <% end %>
      <div class="card-trip-infos">
        <div>
          <h2><%= booking.boat.name %></h2>
          <p>From <%= booking.start_date %> to <%= booking.end_date %></p>
        </div>
        <%= cl_image_tag booking.boat.user.photo_url.url, class:"card-trip-user avatar-bordered" %>
      </div>
    </div>
<% end %>
</div>

