<h1>Add a boat</h1>
<%= simple_form_for [@boat] do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.label "Country" %>
  <%= f.text_field :country %>
  <%= f.input :capacity %>
  <%= f.input :description %>
  <%= f.input :price_per_day %>
  <%= f.submit "Add boat" %>
<% end %>
