<div class="container">
  <h1><%= @boat.name %></h1>
  <p><strong>Description:</strong> <%= @boat.description %> </p>
  <p><strong>Located in: </strong><%= @boat.address.capitalize %> </p>
  <p><strong>Capacity: </strong><%= @boat.capacity %> people</p>
  <p><strong>Price per day:</strong> <%= @boat.price_per_day %> euros </p>
  <p><strong>Have a look: </strong></p><br>
  <p><%= link_to "Back to the boats", boats_path %></p>
  <% if @boat.user == current_user %>
    <p><%= link_to "Boat destroy", boat_path(@boat), method: :delete %></p>
  <% end %>
</div>
